.main {
    width: 100%;
}


.search-container{
    height:64px;
}

.book-title{
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (min-width: 100px) {
    .search-container {
        height: 64px;
    }

    .search > input {
        height: 58px;
        width: 100%;
        text-align: center;
    }

    .search > button{
        display: none;
    }

    .alert-danger{
        text-align: center;
        padding-top: 15px;
        font-size: 18px;
        color: red;
        font-weight: bold;
    }

    .result-book{
        width: 360px;
        height: 165px;
        border: 1px solid #000;
    }

    .result-top{
        text-align: center;
    }

    .book-image{
        padding-top:5px;
    }

    .book-image > img{
        width:85px;
        height:108px;
        padding-top: 5px;
    }

    .result-bottom {
        padding-left: 19px;
    }

    .book-title{
        width:300px;
        font-size: 16px;
        padding-top: 5px;
        white-space: nowrap;
        overflow: hidden;
    }

    .book-author{
        width:300px;
        font-size: 12px;
        padding-top: 11px;
    }

    .result-bottom > .arrow-right {
        display: flex;
        width: 18px;
        height: 18px;
        margin: -31px 289px;
        border-top: 4px solid #000;
        border-right: 4px solid #000;
        transform: rotate(45deg);
    }



}

@media screen and (min-width: 768px) {

        .alert-danger {
            font-size: 24px;
        }


}

@media screen and (min-width: 1045px) {

}

@media screen and (min-width: 1280px) {


}

