.main {
    width: 100%;
}

.container{
    margin-top: 32px;
}

.details-container {
    justify-content: center;
    display: flex;
}


.details-left{
    text-align: center;
}

.tag {
    display: flex;
}

.circle_first,
.circle_second,
.circle_third,
.circle_fource,
.circle_fifth {
    border-radius: 50%;
    background: red;
}

.sticky_note{
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0.25rem 0.25rem hsl(0deg 0% 0% / 10%);
    background-image: linear-gradient(180deg, hsla(0, 0%, 45%, .1) 2rem, hsla(0, 100%, 100%, 0) 2.5rem),
    linear-gradient(180deg, hsl(60, 100%, 85%, 1), hsl(60deg 100% 85%));
}


.sticky_top{
    position: relative;
    display: flex;
    align-items: center;
}

.sticky_top > .sticky-edit_button, .sticky_top>.sticky-trash_button {
    justify-content: flex-end
}

.sticky_bottom{
    text-align: center;
}

.sticky_add-button{
    text-align: center;
}



@media screen and (min-width: 100px) {

    .details-container {
        height: 333px;
    }

    .details-left {
        width: 180px;
    }

    .image > img {
        width: 135px;
        height: 200px;
    }

    .tags-list{
        margin-top:16px;
    }

    .tag {
        padding-left:60px;
    }

    .tags_title {
        font-size: 12px;
        padding-left: 5px;
    }

    .circle_first,
    .circle_second,
    .circle_third,
    .circle_fource,
    .circle_fifth {
        width: 12px;
        height: 12px;
    }

    .details-right {
        width: 180px;
        text-align: center;
    }

    .book-title{
        font-size: 24px;
        margin-top:5px;
    }

    .book-author{
        font-size: 16px;
        margin-top: 24px;
    }

    .book-page{
        font-size: 16px;
        margin-top:26px;
    }

    .synopsis_book{
        margin-top: 16px;
        font-size: 16px;
    }


    .sticky_note {
        width: 320px;
        margin-bottom: 24px;
    }

    .sticky_top{
        height: 64px;
    }

    .sticky_title{
        width: 220px;
        padding-left: 10px;
        font-size: 14px;
    }

    .sticky-edit_button > img,
    .sticky-trash_button > img {
        width: 32px;
    }

    .sticky-trash_button{
        padding-left: 20px;
    }

    .sticky_bottom{
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .sticky_content {
        font-size: 14px;
    }

    .sticky_add-button > img{
        width: 48px;
    }
}

@media screen and (min-width: 768px) {

    .details-container {
        height: 499.5px;
    }

    .details-left {
        width: 270px;
    }

    .image>img {
        width: 202.5px;
        height: 300px;
    }

    .tags-list {
        margin-top: 24px;
    }

    .tag {
        padding-left: 90px;
    }

    .tags_title {
        font-size: 18px;
        padding-left: 7.5px;
    }

    .circle_first,
    .circle_second,
    .circle_third,
    .circle_fource,
    .circle_fifth {
        width: 18px;
        height: 18px;
    }

    .details-right {
        width: 270px;
    }

    .book-title {
        font-size: 36px;
        margin-top: 7.5px;
    }

    .book-author {
        font-size: 24px;
        margin-top: 36px;
    }

    .book-page {
        font-size: 24px;
        margin-top: 39px;
    }

    .synopsis_book {
        margin-top: 24px;
        font-size: 16px;
    }


    .sticky_note {
        margin-bottom: 36px;
    }

    .sticky_title {
        width: 330px;
        padding-left: 15px;
    }

    .sticky-trash_button {
        padding-left: 30px;
    }

    .sticky_bottom {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .sticky_add-button>img {
        width: 72px;
    }

}

@media screen and (min-width: 1045px) {

    .tag {
        padding-left: 200px;
    }

    .details-left {
        width: 520px;
    }

    .details-right {
        width: 520px;
        text-align: left;
    }

    .synopsis_book {
        font-size: 19px;
    }

    .sticky_note-container{
        text-align: center;
    }

    .sticky_note {
        display: inline-block;
        vertical-align: top;
    }

}

@media screen and (min-width: 1280px) {

    .container {
     display: flex;
    }

    .tag {
        padding-left: 90px;
    }

    .details-left {
        width: 270px;
    }

    .details-right {
        width: 270px;
    }

    .details-container {
        margin: 0 auto;
    }

    .sticky_note-container{
        margin: 0 auto;
    }
}

