.main {
    width: 100%;
}

.title {
    text-align: center;
    font-size: 48px;
    margin: 40px auto;
    width: 100%;
    display: block;
}

.regist-container{
    text-align: center;
    margin: 0 auto;
}

.back_button{
    margin-top: 32px;
}

@media screen and (min-width: 100px) {

    .regist-container {
        width: 320px;
    }

}

@media screen and (min-width: 768px) {

    .regist-container {
        width: 640px;
    }

}

