.main {
    width: 100%;
}

.slideshow{
    background-color: #f4f4f4;
}

#nav {
    height: 70px;
    list-style: none;
    line-height: 70px;

}

#nav li {
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
}

#nav li a{
    text-decoration: none;
    color: #3e3e3e;
}


.books-list {
    display:flex;
    flex-wrap: wrap;
}

.unread {
    position:absolute;
}

.book_exaplain {
    text-align: center;
}

.title {
    overflow: hidden;
}

.tags_circle {
    display: flex;
    justify-content: space-between;
}

.circle_first, .circle_second, .circle_third, .circle_fource, .circle_fifth{
    display: flex;
    border-radius: 50%;
    background: red;
}

.regist_date, .read_status, .read-wish_status, .unread_status{
    border-radius: 30px 30px 30px 30px;
    border-bottom: solid 4px #627295;
}

.regist_date:active,
.read_status:active,
.read-wish_status:active,
.unread_status:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.regist_date{
    background-color: #42F5D1;
}

.read_status{
    background-color: #ED4EF5;
}

.read-wish_status{
    background-color: #F5571D;
}
.unread_status{
    background-color: #7DF52A;
}

.regist_date,
.read_status,
.unread_status{
    width: 100px;
}

.read-wish_status{
    width: 120px;
}



@media screen and (min-width: 100px) {

    #nav{
        overflow: scroll;
        white-space: nowrap;
    }

    #nav li {
        text-align: center;
    }

    #nav ul > li {
        text-align: center;
        white-space: nowrap;
    }


    #nav::-webkit-scrollbar {
        display: none;
    }

    .book {
        width: 100px;
        height: 150px;
        margin-top: 15px;
        margin-left: 15px;
        background-color: yellow;
    }

    .unread > img {
        width: 34px;
        height: 34px;
        margin-left: -15px;
        margin-top: -15px;
    }


    .image {
        width: 100px;
        height: 100px;
    }

    .image > img {
        width: 100px;
        height: 100px;
    }

    .book_exaplain {
        width: 100px;
        height: 50px;
        background-color: #eeeeee;
    }

    .title {
        padding-top: 7px;
        font-size: 8px;
    }

    .tags_title {
        text-align: left;
        padding-left: 5px;
        font-size: 10px;
        padding-top: 5px;
    }

    .tags_circle {
        padding: 0 5px;
    }

    .circle_first,
    .circle_second,
    .circle_third,
    .circle_fource,
    .circle_fifth {
        width: 12px;
        height: 12px;
    }

    .error-message{
        font-size: 20px;
        margin: 40px auto;
        color: red;
    }
}

@media screen and (min-width: 1280px) {

    #nav {
        text-align: center;
    }

    .books-list {
        margin-top:30px;
    }

    .book {
        width: 200px;
        height: 300px;
        margin-top: 15px;
        margin-left: 30px;
        margin-bottom: 15px;
        background-color: yellow;
    }

    .unread>img {
        width: 68px;
        height: 68px;
        margin-left: -30px;
        margin-top: -30px;
    }

    .image{
        width: 200px;
        height: 200px;
    }

    .image > img {
        width: 200px;
        height: 200px;
    }

    .book_exaplain {
        width: 200px;
        height: 100px;
        background-color: #eeeeee;
    }

    .title {
        font-size: 15px;
    }

    .tags_title {
        text-align: left;
        padding-left: 10px;
        font-size: 20px;
        padding-top: 10px;
    }

    .tags_circle {
        padding: 0 10px;
    }

    .circle_first,
    .circle_second,
    .circle_third,
    .circle_fource,
    .circle_fifth {
        width: 24px;
        height: 24px;
    }

}
