.main {
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 4;
    /* background: rgba(0, 0, 0, .5); */
}

.container {
    overflow: auto;
    height: 100%;
}

.search-container{
    height:64px;
}

.result-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.book-title{
    white-space: nowrap;
    overflow: hidden;
}




@media screen and (min-width: 100px) {
    .search-container {
        height: 64px;
    }

    .search > input {
        height: 58px;
        width: 100%;
        text-align: center;
        z-index: 22;
        /* background: rgba(0, 0, 0, .5); */
    }

    .search > button{
        display: none;
    }

    .alert-danger{
        text-align: center;
        padding-top: 15px;
        font-size: 18px;
        color: red;
        font-weight: bold;
    }

    .result-container {
        margin-bottom: 64px;
    }

    .result-book{
        height: 165px;
        width: 150px;
        border: 1px solid #000;
        margin: 10px;
    }

    .result-top{
        text-align: center;
    }

    .book-image{
        padding-top:5px;
    }

    .book-image > img{
        width:85px;
        height:108px;
        padding-top: 5px;
    }

    .result-bottom {
        text-align: center;
        padding: 0 10px;
    }

    .book-title{
        font-size: 8px;
        padding-top: 5px;
        white-space: nowrap;
        overflow: hidden;
    }

    .book-author{
        font-size: 6px;
        padding-top: 11px;
    }
}


@media screen and (min-width: 768px) {

    .alert-danger {
        font-size: 24px;
    }

    .result-book {
        height: 247.5px;
        border: 1px solid #000;
        width: 360px;
    }

    .search>input {
        font-size: 24px;
    }

    .result-container {
        margin-bottom: 128px;
    }

    .result-book {
        height: 247.5px;
        border: 1px solid #000;
        width: 360px;
    }

    .book-image>img {
        width: 127.5px;
        height: 162px;
        padding-top: 5px;
    }

    .book-title {
        font-size: 24px;
        padding-top: 7.5px;
        white-space: nowrap;
        overflow: hidden;
    }

    .book-author {
        font-size: 18px;
        padding-top: 16.5px;
    }

    .result-bottom>.arrow-right {
        display: flex;
        width: 18px;
        height: 18px;
        margin: -31px 90%;
        border-top: 4px solid #000;
        border-right: 4px solid #000;
        transform: rotate(45deg);
        z-index: 1;
    }

}
