.main {
    width: 100%;
}

.slideshow{
    background-color: #f4f4f4;
}

#nav {
    height: 50px;
    list-style: none;

}

#nav li:first-child {
    padding-left: 15px;
}

#nav li {
    line-height: 50px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

#nav li a{
    text-decoration: none;
    color: #3e3e3e;
}

@media screen and (min-width: 100px) {

    #nav{
        overflow: scroll;
        white-space: nowrap;
    }

    #nav li {
        text-align: center;
    }

    #nav ul > li {
        text-align: center;
        white-space: nowrap;
    }


    #nav::-webkit-scrollbar {
        display: none;
    }

}

@media screen and (min-width: 1280px) {

    #nav {
        text-align: center;
    }

}
