.main {
    width: 100%;
}

/* .details-container {
    justify-content: center;
    display: flex;
} */


.details-left {
    text-align: center;
}

.tag {
    display: flex;
}

.circle_first,
.circle_second,
.circle_third,
.circle_fource,
.circle_fifth {
    border-radius: 50%;
    background: red;
}

.edit-book{
    text-align: center;
    margin-top: 24px;
}

.edit-button{
    background-color: #618DF5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.book-detail{
    display: flex;
    justify-content: center;
}

.sticky_note,
.modal_sticky_note {
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0.25rem 0.25rem hsl(0deg 0% 0% / 10%);
    background-image: linear-gradient(180deg, hsla(0, 0%, 45%, .1) 2rem, hsla(0, 100%, 100%, 0) 2.5rem),
        linear-gradient(180deg, hsl(60, 100%, 85%, 1), hsl(60deg 100% 85%));
}


.sticky_top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sticky_top>.sticky-edit_button{
    padding-right: 15px;
}

.sticky_top>.sticky-edit_button,
.sticky_top>.sticky-trash_button {
    justify-content: flex-end
}

.sticky_bottom {
    text-align: center;
}

.sticky_add-button {
    text-align: center;
}

.sticky_note-container{
    margin-top:32px;
}



@media screen and (min-width: 100px) {

    .details-container {
        margin-top: 20px;
        margin-bottom: 32px;
    }

    .details-left {
        width: 165px;
        margin-left: 15px;
    }

    .image>img {
        width: 85px;
        height: 105px;
    }

    .tags-list {
        margin-top: 12px;
    }

    .tag {
        padding-left: 60px;
    }

    .tags_title {
        font-size: 12px;
        padding-left: 5px;
    }

    .circle_first,
    .circle_second,
    .circle_third,
    .circle_fource,
    .circle_fifth {
        width: 12px;
        height: 12px;
    }

    .details-right {
        width: 165px;
        margin-right: 15px;
        text-align: center;
    }

    .book-title {
        font-size: 20px;
        margin-top: 5px;
    }

    .book-author {
        font-size: 12px;
        margin-top: 12px;
    }

    .synopsis_book {
        margin-top: 12px;
        font-size: 8px;
    }

    .edit-button{
        width: 320px;
        height: 48px;
        font-size: 36px;
    }


    .sticky_note,
    .modal_sticky_note {
        width: 320px;
        margin-bottom: 24px;
    }

    .modal_sticky_note {
        width: 250px;
        margin: 24px auto;
    }

    .book-page{
        font-size:14px;
    }

    .sticky_top {
        height: 32px;
        font-size:10px;
    }

    .sticky_title {
        width: 220px;
        padding-left: 10px;
        font-size: 14px;
    }

    .sticky-edit_button > img,
    .sticky-trash_button > img {
        width: 32px;
    }

    .sticky_bottom {
        padding: 10px 5px 20px;
    }

    .sticky_content {
        font-size: 12px;
    }

    .sticky_add-button>img {
        width: 48px;
    }
}

@media screen and (min-width: 768px) {

    .details-left {
        width: 247.5px;
        margin-left: 22.5px;
    }

    .image>img {
        width: 127.5px;
        height: 152.5px;
    }

    .tags-list {
        margin-top: 18px;
    }

    .tag {
        padding-left: 90px;
    }

    .tags_title {
        font-size: 15px;
        padding-left: 7.5px;
    }

    .circle_first,
    .circle_second,
    .circle_third,
    .circle_fource,
    .circle_fifth {
        width: 18px;
        height: 18px;
    }

    .details-right {
        width: 247.5px;
        margin-right: 22.5px;
    }

    .book-title {
        font-size: 28px;
    }

    .book-author {
        font-size: 18px;
        margin-top: 20px;
    }

    .book-page {
        font-size: 15px;
    }

    .synopsis_book {
        margin-top: 18px;
        font-size: 12px;
    }

    .sticky_note-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .sticky_note{
        margin: 10px 20px;
    }

    .modal_sticky_note {
        width: 320px;
        margin: 24px auto;
    }

    .sticky_title {
        width: 330px;
        padding-left: 15px;
    }

    .sticky_top {
        height: 32px;
    }

    .sticky_bottom {
        padding: 10px 10px 20px;
    }

    .sticky_add-button>img {
        width: 72px;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 1045px) {

    .tag {
        padding-left: 200px;
    }

    .details-left {
        width: 520px;
    }

    .details-right {
        width: 520px;
        text-align: left;
    }

    .synopsis_book {
        font-size: 19px;
    }

    .sticky_note-container {
        text-align: center;
    }

    .sticky_note,
    .modal_sticky_note {
        display: inline-block;
        vertical-align: top;
    }

}

@media screen and (min-width: 1280px) {

    .container {
        display: flex;
    }

    .tag {
        padding-left: 90px;
    }

    .details-left {
        width: 270px;
    }

    .details-right {
        width: 270px;
    }

    .details-container {
        margin: 20px auto 0px;
    }

    .sticky_note-container {
        margin: 20px auto 0px;
    }
}

