.main {
    width: 100%;
}

.common-form {
    margin: 32px auto;
    text-align: center;
}

.alert,
.alert-danger {
    color: red;
    margin-bottom: 10px;
}


.title {
    text-align: center;
    font-size: 48px;
    margin: 40px auto;
    width: 100%;
    display: block;
}

.required {
    color: white;
    background-color: #eb6665;
    border-radius: 5px;
    font-size: 16px;
}

.caution-text>h2 {
    color: red;
}

.caution-text>p {
    margin-top: 15px;
}

ul{
    list-style: none;
    background-color: #d5d5d5;
    padding: 10px;
}

li{
    padding-top: 5px;
}

form{
    margin-top: 18px;
}

.checkbox-text{
    margin-top:8px;
}

div.delete-content {
    text-align: center;
    margin-bottom: 15px;
}

.common-button {
    height: 48px;
    font-size: 36px;
    margin: 32px 0;
    padding-top: 5px;
    color: black;
    background-color: #d5d5d5;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    align-items: center;
}

.flex-content{
    display: flex;
    flex-flow: column;
}


@media screen and (min-width: 100px) {

    .common-form {
        width: 320px;
    }

    .alert,
    .alert-danger {
        font-size: 12px;
    }

    .caution-text>h2 {
        font-size: 24px;
    }


}

@media screen and (min-width: 385px) {

    .alert,
    .alert-danger {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {

    .common-form {
        width: 640px;
    }

    .common-button {
        width: 80%;
        margin: 0 auto;
    }

    .caution-text>h2 {
        font-size: 32px;
    }

}
